<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.searun.broadcastreceivertest" >

    <permission
        android:name="scott.permission.MY_BROADCAST_PERMISSION"
        android:protectionLevel="normal" />

    <uses-permission android:name="scott.permission.MY_BROADCAST_PERMISSION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<receiver-->
            <!--android:name=".MyBroadcastReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="true" >-->
            <!--<intent-filter android:priority="1000" >-->
                <!--<action android:name="com.searun.broadcastreceivertest.MY_BROAD" />-->

                <!--<category android:name="android.intent.category.default" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver-->
            <!--android:name=".MyBroadcastReceiver1"-->
            <!--android:enabled="true"-->
            <!--android:exported="true" >-->
            <!--<intent-filter android:priority="999" >-->
                <!--<action android:name="com.searun.broadcastreceivertest.MY_BROAD" />-->

                <!--<category android:name="android.intent.category.default" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver-->
            <!--android:name=".MyBroadcastReceiver2"-->
            <!--android:enabled="true"-->
            <!--android:exported="true" >-->
            <!--<intent-filter android:priority="998" >-->
                <!--<action android:name="com.searun.broadcastreceivertest.MY_BROAD" />-->

                <!--<category android:name="android.intent.category.default" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <service
            android:name=".MsgPushService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".BootCompleteReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NetworkStateReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BatteryChangedReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.battery_changed"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
